<div class="flex-box">
  <div class="flex">

    <div class="menu">

      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
          <img src="assets\chronos.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
          MENU
        </a>
      </nav>


      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">
          Cadastro
        </a>
        <a href="#" class="list-group-item list-group-item-action">Alunos</a>
        <a href="#" class="list-group-item list-group-item-action">Notas</a>
        <a href="#" class="list-group-item list-group-item-action">Partituras</a>

      </div>



    </div>


    <div class="forms">

      <div class="container-forms">

        <a class="navbar-brand">Cadastrar Aluno</a>

      </div>

      <div class="cadastro">

        <div class="identificação">
          <div>
            <input placeholder="Nome Completo" type="text" class="user">
            <input placeholder="data de Nascimento" type="text" class="data">
          </div>
          <div>
            <input placeholder="CPF" type="text" class="cpf">
            <input placeholder="RG" type="text" class="rg">
          </div>
        </div>

        <div class="localidade">
          <div><input placeholder="Endereço" type="text" class="endereço"></div>
          <div>
            <input placeholder="Bairro" type="text" class="bairro">
            <input placeholder="Cidade" type="text" class="cidade">
          </div>
        </div>

        <div class="curso">
          <div> <input placeholder="Instrumento" type="text" class="instrumento"></div>
        </div>

        <button type="button" class="cadastrar">Cadastrar</button>

      </div>

    </div>

  </div>
</div>