/* altera o flex pai */
.flex {
    background: #e8e5e5;
    display: flex;
    width: 100%;
    margin-top: 0 auto;
    height: 800px;
}

/* altera a tabela lateral do menu, mexendo na largura, altura e cor */
.menu {
    width: 25%;
    height: 800px;
    background: #000000d4;
}

/* altara a cor do nav para preto e o tamanho */
.bg-light {
    background-color: #1e1e1e!important;
    height: 83px;
}

/* altera a cor da letra MENU */
.navbar-light .navbar-brand {
    color: rgba(252, 243, 243, 0.9);
}

/* altera as classes dos botoes do menu, deixando todos pretos */
.list-group-item.active {
    z-index: 2;
    color: #0a0909;

}

/* alteração no tamanho dos botoões do menu */
.list-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0px;
    line-height: 42px;
    margin: 2% 0% 0% 0%;
}

.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: 1px;
    background-color: #1e1e1e;
    border: 1px solid rgba(252, 248, 248, 0.125);
}

/* arredonda a imagem da foto perfil na barra de menu */
img {
    vertical-align: middle;
    border-style: none;
    border-radius: 100%;
}

.forms {
    background: white;
    width: 75%;
    height: 800px;
}

.container-forms{
    background: #dddddd;
    height: 65px;
    border-radius: 5px;
    margin: 1%;
    font-family: unset;
    font-weight: 600;
    width: 95%;
}

a:not([href]):not([tabindex]) {
    color: #00000099;
    text-decoration: blink;
    padding: 13px;
}
.cadastro{
    background: #c0c0c04a;
    border-radius: 2%;
    width: 93%;
    height: 540px;
    margin: 8% 0% 0% 3%;

}

.user{
    
        width: 50%;
        margin: 8% 0% 0% 7%;
    
}

.cpf{
    
    width: 40%;
    margin: 4% 0% 0% 7%;

}

.endereço{
    width: 40%;
    margin: 4% 0% 0% 7%;

}

.bairro{

    width: 40%;
    margin: 4% 0% 0% 7%;

}

.instrumento{

    width: 50%;
    margin: 4% 0% 0% 7%;

}

.cadastrar{
    margin: 10% 1% 1% 77%;
    width: 18%;

}

